<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/app :: main-fragment(  
                                                ~{::title},
                                                ~{:: #home-static-resources},
                                                 ~{:: #user-script-resouce},
                                                ~{:: #home-header},
                                                ~{:: #home-nav},
                                                ~{:: #user-main-content},  
                                                ~{:: #home-footer}
                                               )}"
>
	<head>
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<title>Shopme Admin Control Panel</title>
		<link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/fontawesome/all.css}" rel="stylesheet" type="text/css" />
	</head>
	<body >
		<main class="py-4" id="user-main-content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="card">
							<div class="card-body">
								<div class="card-title">
									<h4>User List</h4>
								</div>
								
								<div class="card-content py-5">
									<table class="table table-striped">
										<thead>
											<th>No</th>
											<th th:replace="fragments/sorting :: sorting('email','Email')">Email</th>
											<th th:replace="fragments/sorting :: sorting('firstName','Firstname')">Firstname</th>
											<th th:replace="fragments/sorting :: sorting('lastName','Lastname')">Lastname</th>
											<th>Role</th>
											<th>Status</th>
											<th>Action</th>
										</thead>
										<tbody>
											<tr th:each="u,index : ${users}">
												<td th:text="${index.count}"></td>
												<td th:text="${u.email}"></td>
												<td th:text="${u.firstName}"></th>
												<td th:text="${u.lastName}"></td>
												<td>	
													<th:block th:if="${not #lists.isEmpty(u.roles)}" th:text="${u.roles[0].displayName != null ? u.roles[0].displayName : u.roles[0].name}"></th:block>	
													<th:block th:if="${#lists.isEmpty(u.roles)}" >-</th:block>
												</td>
												<td th:class="${u.enabled ? 'bg-success' : 'bg-danger'} + ' text-white'">
													<span th:text="${u.enabled ? 'Enable' : 'Disable'}" ></span>
												</td>
												<td>
													<a th:href="@{users/{id}/edit(id=${u.id})}" class="btn btn-warning btn-sm"><i class="fas fa-file-edit  fa-xs"></i></a>
													<a th:href="@{users/{id}(id=${u.id})}" class="btn btn-info btn-sm"><i class="fas fa-info  fa-xs"></i></a>
													<a th:href="@{users/{id}(id=${u.id})}" class="btn btn-danger btn-sm btn-hapus" th:onclick="'event.preventDefault(); removeUser(this);'" th:data-id="${u.id}">
													    <i class="fas fa-remove fa-xs"></i>
													</a>
													<form th:id="'user_'+${u.id}" th:action="@{/users/{userId}(userId=${u.id})}" th:method="delete" onsubmit="return confirmDelete()">
													</form>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
								<div class="tfoot py-3">
									<nav aria-label="Page navigation">
									  <ul class="pagination" th:if="${totalPages > 0 }" >
									  
									    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
									    <th:block th:each="item :  ${#numbers.sequence( 1, totalPages/1)}">	
									    	<li class="page-item" th:classappend="${item==currentPage} ? active" ><a class="page-link" th:href="@{/users(pagesize=${pageSize}, pagenum=${item})}" th:text=${item}>1</a></li>
									    </th:block>
									    
									    <li class="page-item"><a class="page-link" href="#">Next</a></li>
									  </ul>
									</nav>	
								</div>	
							</div>
						</div>
					</div>
				</div>			
			</div>
		</main>		
		<th:block id="user-script-resouce">
			<script th:inline="javascript">
				function removeUser(e){
					userid = e.getAttribute('data-id');
					//document.getElementById("user_"+userid).submit();
					$('#user_'+userid).submit();
				
				}
			    function confirmDelete() {
					return confirm('Are you sure want to delete this data?');
			    }
			</script>
		</th:block>
	</body>
</html>