<!DOCTYPE HTML>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
    th:fragment="main-fragment (title, otherStaticResources,otherScriptResources, header, nav, mainContent, footer)">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title th:replace="${title}">Page 1 Title</title>
		<link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
		<link th:href="@{/fontawesome/all.css}" rel="stylesheet" type="text/css" />
		<style>
			.profile-image {
			    width: 50px; /* Atur lebar sesuai kebutuhan */
			    height: 50px; /* Atur tinggi sesuai kebutuhan */
			    overflow: hidden; /* Untuk memastikan foto tidak keluar dari kotak */
			    border-radius: 100%; /* Untuk membuat foto menjadi lingkaran (jika diinginkan) */
			}
			
			.profile-image img {
			    width: 100%; /* Agar gambar sesuai dengan lebar kotak */
			    height: auto; /* Agar gambar tetap proporsional */
			    display: block; /* Agar gambar tidak terpengaruh oleh ruang putih di sekitarnya */
			}
		</style>
		<th:block th:replace="${otherStaticResources} ?: ~{}"></th:block>
</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-body-tertiary">
		  <div class="container-fluid">
		    <a class="navbar-brand" th:href="@{/}">Navbar</a>
		    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		      <span class="navbar-toggler-icon"></span>
		    </button>
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
		      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
		        <li class="nav-item">
		          <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Home</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="#">Link</a>
		        </li>
		        <li class="nav-item dropdown">
		          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
		            Users
		          </a>
		          <ul class="dropdown-menu">
		            <li><a class="dropdown-item" href="#" th:href="@{/users}">List Users</a></li>
		            <li><a class="dropdown-item" href="#" th:href="@{/users/create}">Create User</a></li>
		          </ul>
		        </li>
		      </ul>
		      
		      <form class=" ml-md-8 d-flex" role="search">
		        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
		        <button class="btn btn-outline-success" type="submit">Search</button>
		      </form>
		      <div class="navbar-menu-wrapper d-flex align-items-top"> 
	        <ul class="navbar-nav ms-auto">
	          <li class="nav-item dropdown">
	            <!--  <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown"> -->
	            <a class="nav-link count-indicator" id="notificationDropdown" href="#" >
	              <i class="icon-circle icon-lg"></i>
	            </a>
	            <!-- <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown"> -->
	            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" >
	              <a class="dropdown-item py-3 border-bottom">
	                <p class="mb-0 font-weight-medium float-left">You have 4 new notifications </p>
	                <span class="badge badge-pill badge-primary float-right">View all</span>
	              </a>
	            </div>
	          </li>
	          <li class="nav-item dropdown"> 
	            <!-- <a class="nav-link count-indicator" id="countDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">  -->
	            <a class="nav-link count-indicator" id="countDropdown" th:href="@{/settings}"  aria-expanded="false">
	              <i class="icon-bell"></i>
	              <span class="count"></span>
	            </a>
	            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="countDropdown">
	              <a class="dropdown-item py-3">
	                <p class="mb-0 font-weight-medium float-left">You have 7 unread mails </p>
	                <span class="badge badge-pill badge-primary float-right">View all</span>
	              </a>
	              <div class="dropdown-divider"></div>
	              <a class="dropdown-item preview-item">
	                <div class="preview-thumbnail">
	                  <img src="../../images/faces/face10.jpg" alt="image" class="img-sm profile-pic" loading="lazy">
	                </div>
	                <div class="preview-item-content flex-grow py-2">
	                  <p class="preview-subject ellipsis font-weight-medium text-dark">Marian Garner </p>
	                  <p class="fw-light small-text mb-0"> The meeting is cancelled </p>
	                </div>
	              </a>
	              
	            </div>
	          </li>
	          <li class="nav-item dropdown d-none d-lg-block user-dropdown dropstart">
	            <a class="nav-link profile-image" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
	             	<img class="img-xs rounded-circle" th:src="@{'/images/avatars/thumbnails/'+${#authentication.principal.photo}}" alt="Profile image" loading="lazy"> 
	            </a>
	            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
	              <div class="dropdown-header text-center">
	                <img class="img-md rounded-circle" th:src="@{'/images/avatars/thumbnails/'+${#authentication.principal.photo}}" alt="Profile image" loading='lazy'>
	              </div>
	              <p class="dropdown-item text-muted mb-0" th:text="${#authentication.principal.fullname}"></p>
	              <p class="dropdown-item text-muted mb-0" sec:authentication="principal.authorities">allenmoreno@gmail.com</p>
	              <a class="dropdown-item" th:href="@{/users/{id}(id=${#authentication.principal.id})}"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2" ></i> My Profile <span class="badge badge-pill badge-danger" sec:authentication="principal.id">1</span></a>
	              <a class="dropdown-item" th:href="@{/logout}"  onclick="event.preventDefault();$('#logout').submit()"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
	              <form th:method="POST" th:action="@{/logout}" id="logout"></form>
	            </div>
	          </li>
	        </ul>
</div>
		    </div>
		  </div>
		</nav>
		<main th:insert="${mainContent} ?: ~{}" class="px-5"></main>
		<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>

		<script type="text/javascript" th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.min.js}"></script>
		<th:block th:replace="${otherScriptResources} ?: ~{}"></th:block>
	</body>
</html>