<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Shopme</title>
    
        <script src="https://cdn.jsdelivr.net/npm/vue@3.2.26/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.0.15/dist/vue-router.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/primevue@2.9.1/dist/primevue.min.js"></script>

</head>
<body>
    <div id="app"></div>


    <script>


        Vue.use(Router);
        PrimeVue.install(Vue);

        const routes = [
            {
                path: "/",
                name: "Home",
                component: () => import("./components/Home.vue")
            },
            {
                path: "/about",
                name: "About",
                component: () => import("./components/About.vue")
            }
        ];

        const router = new Router({
            routes
        });

        const app = new Vue({
            el: "#app",
            router
        });
    </script>
</body>
</html>