<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/auth :: main-fragment(  
                                                ~{::title},
                                                ~{:: #login-main-content}
                                               )}">

<head>

	<title>Form Reset Password</title>
</head>


<body>
	<div class="container" id="login-main-content">
		<div th:if="${success}" class="alert alert-success">
			<p th:text="${success}"></p>
		</div>
		<form th:method="patch" th:action="@{/auth/reset_password/{token}/{email}(email=${user.email},token=${user.token})}" th:object="${user}">

			<input type="hidden" th:field="*{token}">
			<input type="hidden" th:field="*{email}">
			<!-- Email input -->
			<div class="form-outline mb-4">
				<label class="form-label" for="password">Password</label>
					<input type="password" class="form-control" th:field="*{password}" />
					<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
			</div>

			<div class="form-outline mb-4">
				<label for="confirmPassword" class="form-label">Password Confirmation</label>
				<input type="password" class="form-control" th:field="*{confirmPassword}" />
				<span th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></span>
			</div>

			<!-- Submit button -->
			<div class="form-group">
				<a th:href="@{/login}" class="btn btn-secondary  mb-4">Cancel</a>
				<button class="btn btn-primary mb-4">Change Password</button>
			</div>

		</form>
	</div>
</body>

</html>